aws_region       = "us-east-1"
project_name     = "codebolab-website"
environment      = "production"
domain_name      = "code.bo"
hosted_zone_name = "code.bo"
bucket_name      = "code.bo"

# If ACM for this domain already exists, reuse the existing certificate.
# acm_certificate_arn         = "arn:aws:acm:us-east-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

tags = {
  Owner = "codebolab"
}
